<article class="post-card u-mb1" aria-label="{{ post.data.title }}">
  <div class="post-card__inner">
    

    <a href="{{ post.url | url }}" class="post-card__title h4">
      {{ post.data.title }}
    </a>

    <p class="post-card__excerpt">
      {% excerpt post %} <span class="post-card__read-more">Read More</span>
    </p>
  </div>
</article>