$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);



$ming: #006d77ff;
$middle-blue-green: #83c5beff;
$alice-blue: #edf6f9ff;
$unbleached-silk: #ffddd2ff;
$dark-salmon: #e29578ff;
$light-cyan: #C8E5E2;
$border-radius: 4px;
$color-box-background: mix($ming, white, 4%);
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.2;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $ming;
  font-size: 0.7rem;
  max-width: 63em;
  background: $alice-blue;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

.content {
  height: 750px;
  overflow: auto;
}

time {
  display: block;
  color: $ming;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($ming, white, 90%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $unbleached-silk;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $ming;
  &:hover {
    color: $ming !important;
    background: $light-cyan;
  }
  &:after {
    position: relative;
    top: -1.2em;
    font-size: 0.7em;
    content: "↗";
    color: $light-cyan;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: $light-cyan !important;
  color: $ming !important;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: $light-cyan;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

.u-mb1 {
  margin-bottom: 1rem !important;
  padding: 0 1rem 4rem 1rem;
  height: 70px;

}

.grid_container {
  display: grid;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  grid-template-columns: 30% 30% 30%;
  padding: 10px;
}

.grid_item {
  padding: 20px;
}

.post-card__inner {
  background: $alice-blue;
  border-radius: 5px;
  border: 2px solid $unbleached-silk;
  padding: 1rem 1rem;
  display: block;
  color: $ming;
  position: relative;
  text-decoration: none;
  transition: transform .07s ease-out;

  @media (min-width: 768px) {
    padding: 1.5rem 1.6rem;
  }
}

.post-card:hover .post-card__inner {
  transform: translate(-10px, -10px);
}

.post-card__excerpt {
  display: block;
  word-wrap: normal;
}

.post-card__info {
  margin-bottom: 0.3rem;
  word-spacing: -0.5px;
}

.post-card__tag {
  position: relative;
  z-index: 20;
}

.post-card__title {
  color: $ming;
  text-decoration: none;
  margin-bottom: 0.8rem;
  word-wrap: normal;

  &:after {
    content: "";
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}


nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav [aria-current="page"] {
  font-weight: bold;
}
