---
eleventyNavigation:
  key: About Me
  order: 2
title: About Me
layout: base.njk
templateEngineOverride: njk, md
---

{% Image "./images/profile_pic2.jpg", "image no 01" %}

## Who am I?

I am Sholanki, preferred to be called as Lanky living in India having fun with coding and creating stuff. For a living, I work in airline industry and in my own personal time, I love to train my body, mind, create videos (like bathroom songs), journal and hum tunes.

I get bored fast and due to this, I leave my projects halfway. I am not known to be persistent so I am basically Jack of no trades. This is one of my attempts to be persistent in knowing and doing 11ty. Well, that's about it for now.

Stay tuned for the `Posts` section where I continue to write my progress in 11ty!